#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=java -jar /usr/share/java/giveawaypwner/giveawaypwner.jar
Icon=giveawaypwner
Categories=Utility;
Name=AutoClicker
Comment=Pwn all the giveaways!

